:root {
  --accent: rgb(220, 240, 230);
  --gradient1: #8ac8ff;
  --gradient2: #f7fbff;
  --header: rgb(30, 30, 40);
  --container: #ffffff;
  --text-con: rgb(240, 240, 250);
  --text-head: rgb(220, 220, 220);
  --text-body: rgb(0, 0, 0);
  --color-a: #78C252;
  --color-b: #00A4EF;
  --color-c: #f78686;
  --color-d: #595959;
  --line: #3c4873;
}
a {
  outline: none;
}
a:focus {
  outline: none;
}

.header {
  position: static;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0 10px;
  background-color: var(--header);
  color: var(--text-con);
  text-align: center;
}
.top,
.topnav {
  overflow: hidden;
  background-color: var(--header);
  color: var(--text-head);
  align-items: right;
}
.top a,
.topnav a {
  float: left;
  display: block;
  color: var(--text-head);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.top a:hover,
.topnav a:hover {
  background-color: var(--accent);
  color: var(--text-body);
}

.top a,
.topnav a {
  float: left;
  display: block;
  color: var(--text-head);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.top a:hover,
.topnav a:hover {
  background-color: var(--accent);
  color: var(--text-body);
}

.header-img {
  display: block;
  max-width: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

body {
  background: linear-gradient(to top right, var(--gradient1), var(--gradient2));
  color: var(--text-body);
  font-family: 'AR One Sans';
  font-size: 18px;
  margin: 0;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title {
  text-align: center;
  font-size: 38px;
  font-family: 'ADLaM Display';
}
.quote {
  text-align: center;
  font-size: 26px;
  margin: 5px;
}

.container,
.click-container {
  font-size: 18px;
  font-family: Arial, Sans-Serif;
  width: 80%;
  max-width: 1200px;
  background-color: var(--container);
  margin: 75px auto;
  padding: 10px 20px 10px;
  border-radius: 8px;
}
.click-container {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.subtitle {
  font-size: 22px;
  font-weight: bold;
  text-align: left;
}
.text {
  font-weight: normal;
  text-align: left;
}
.social {
  display: block;
  margin: 10px;
}
.img-item {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.click-container:hover {
  transform: scale(1.03);
  background-color: var(--accent);
}

.button,
.a-button,
.b-button,
.c-button,
.d-button {
  display: flex;
  padding: 10px 20px;
  margin: 10px;
  background-color: var(--color-a);
  color: white;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.button:hover,
.a-button:hover,
.b-button:hover,
.c-button:hover,
.d-button:hover {
  transform: scale(1.1);
  background-color: rgba(25, 25, 25, 0.6);
}
.a-button {
  background-color: var(--color-a);
}
.b-button {
  background-color: var(--color-b);
}
.c-button {
  background-color: var(--color-c);
}
.d-button {
  background-color: var(--color-d);
}
.button-img {
   margin: 5px;
   height: 35px;
   weight: 35px;
}

@media (max-width: 767px) {
  .container {
    display: block;
    width: 80%;
  }
  .mobile-content {
    display: block;
  }
  .desktop-content {
    display: none;
  }
}

@media (min-width: 768px) {
  .header {
    position: static;
  }
  .container,
  .button-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 75px auto;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr));
    padding: 10px 20px 10px;
    border-radius: 8px;
    background-color: var(--container);
  }
  .button-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .desktop-content {
    display: block;
  }
  .mobile-content {
    display: none;
  }
}
